body{
    background-color: aliceblue;  /*背景颜色（不可继承）*/
}

#p1{
    width: 150px;            /*宽度*/
    padding: 10px;           /*内边距*/
    background-color: aqua;
}

#p2{
    color: deeppink;
    text-align: center;      /*对齐方式*/
}

h6{
    text-indent: 2em;
}

#p01{
    width: 200px;
    line-height: normal;    /*行高*/
}

#p02{
    width: 200px;
    line-height: 200%;
}

#p03{
    width: 200px;
    line-height: 50%;
}