#ul1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#ul1 a:link,#ul1 a:visited{
    text-decoration: none;
    display: block;
    background-color: burlywood;
    color: aliceblue;
    width: 50px;
    text-align: center;
}

#ul1 a:active,#ul1 a:hover{
    background-color: red;
}

/*--------------------------------------*/

#ul2{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    width: 200px;
    text-align: center;
}

#ul2 a:link,#ul2 a:visited{
    text-decoration: none;
    background-color: burlywood;
    color: aliceblue;
    width: 50px;
    text-align: center;
}

#ul2 a:active,#ul2 a:hover{
    background-color: red;
}

#ul2 li{
    display: inline;
}